/* COLORES PRIMARIOS
  Azules:
  # 301A8E
    2C1881
    281675
    281675
    211261 --> OFICIAL
    1E1057
    1B0F4F
    180D47
    160C40

  Verdes:
  # 59FF3F
    51E839
    4AD334
    43BF2F
    3DAE2B --> OFICIAL
    379D27
    318D23
    2C7F1F
    28721C

  COLORES SECUNDARIOS
  Cyan -- 22BBED
  Cyan Pastel -- CFE2E5
  Gris -- 757575
*/


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}