/* COLORES PRIMARIOS
  Azules:
  # 301A8E
    2C1881
    281675
    281675
    211261 --> OFICIAL
    1E1057
    1B0F4F
    180D47
    160C40

  Verdes:
  # 59FF3F
    51E839
    4AD334
    43BF2F
    3DAE2B --> OFICIAL
    379D27
    318D23
    2C7F1F
    28721C

  COLORES SECUNDARIOS
  Cyan -- 22BBED
  Cyan Pastel -- CFE2E5
  Gris -- 757575
*/


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
/* ---------------------------------- GENERAL LAYOUT ---------------------------------- */
/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */


* {
  box-sizing: border-box;
  font-family: rubik, sans-serif;
}

#allPage {
  background: linear-gradient(0deg, rgba(33, 18, 97, 1) 0%, rgba(48, 26, 142, 1) 34%, rgba(33, 92, 158, 1) 72%, rgba(34, 187, 237, 0.8309698879551821) 100%);
}

.navbar {
  background: linear-gradient(135deg, rgba(33, 18, 97, 1) 15%, rgba(33, 92, 158, 1) 81%);
  border-radius: 15px;
  box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* --------------------------------------- MOVIL --------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: 0 !important;
  outline: none !important;
  box-shadow: none;
}

/* ------------------------------ DROPDOWN ARROWS ------------------------------ */

#doubleArrow {
  color: white;
}

#doubleArrow:hover,
#doubleArrow:focus,
#doubleArrow:active {
  color: #59FF3F !important;
  border: 0 !important;
  outline: none !important;
  box-shadow: none;
}

/* ------------------------------ MENU COLLAPSE ------------------------------ */

.navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-collapse .nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item .btn {
  width: 150px;
  margin: 5px 10px 10px 10px;
  border-radius: 10px;
  border: 0;
}

.contact-icons .fab,
.contact-icons .far {
  color: white;
  margin: 0px 15px 0px 15px;
  transform: scale(1.2);
}

.contact-icons .fab:hover,
.contact-icons .fab:focus,
.contact-icons .fab:active {
  color: #59FF3F;
  transition: 300ms ease-in;
}

.contact-icons .far:hover,
.contact-icons .far:focus,
.contact-icons .far:active {
  color: #59FF3F;
  transition: 300ms ease-in;
}

/* ------------------------------ GRADIENT BUTTONS ------------------------------ */

.btn-grad {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%)
}

.btn-grad {
  padding: 15px 0 15px 0;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-image: linear-gradient(to right, #AAFFA9 0%, #11FFBD 51%, #AAFFA9 100%);
  background-position: left center;
  /* change the direction of the change here */
  color: #211261;
  text-decoration: none;
}

.btn-grad-bot {
  background-image: linear-gradient(to right, #AAFFA9 0%, #11FFBD 51%, #AAFFA9 100%);
}

.btn-grad-bot {
  padding: 15px 0 15px 0;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: 500;
  color: #211261;
  font-size: 1.2rem;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad-bot:hover {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.btn-grad-close {
  background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%)
}

.btn-grad-close {
  padding: 15px 0 15px 0;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad-close:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* ------------------------------ CONTACT BUTTON ------------------------------ */

#contactanos-top {
  margin: 2rem 0 2rem 1.5rem;
  width: 50%;
}

#close-bot {
  width: 25%;
}

#contactanos-bot-btn {
  width: 50%;
  margin: 1rem 0;
}



/* --------------------------- MAIN SECTION CONTAINER --------------------------- */

.container .all-content {
  border-radius: 20px !important;
  background-color: white;
  margin-bottom: 30px;
  overflow: hidden;
}

/* ------------------------------ HEADER ------------------------------ */

#header {
  position: relative;
}

#header h1 {
  padding-left: 1.5rem;
  letter-spacing: -2px;
  font-weight: 500;
  padding-top: 2em;
  width: 80%;
  line-height: 1;
  color: #211261;
}

#header h2 {
  line-height: 1.2;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  font-style: italic;
  color: #3DAE2B;
}

/* ------------------------------ HEADER SHAPES ------------------------------ */

#fig-header {
  position: absolute;
  width: 60%;
  overflow: hidden;
  top: -3.5rem;
  right: -6rem;
  z-index: 0;
}

/* ------------------------------ GRADIENT TEXT ------------------------------ */

.grad-text {
  background: -webkit-linear-gradient(-45deg, #1FA2FF, #11FFBD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-shadow: 0px 0px 5px 5px #211261;
}

#all-content-block {
  position: relative;
}


/* ------------------------------ DIVISION BANNER SECTION ------------------------------ */

#division {
  position: relative;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#div-text {
  font-size: 1.3rem;
  letter-spacing: .7px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 600;
  z-index: 1;
  opacity: 100%;
}

#bg-img-1 {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 240px;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 60%;
}


/* ------------------------------ TEXT MIDDLE SECTION ------------------------------ */

#principal-top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #160C40;
}

#principal-top svg {
  width:200%;
  padding-left: 1rem;
}

#principal-bot {
}

#covid-text {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
  text-align: right;
  padding-right: 1rem;
  margin: 0;
  color: white;
  padding-bottom: 2rem;
}

/* ------------------------------ TITLE SERVICES SECTION ------------------------------ */

#main-title {
  text-align: center;
  line-height: 1;
  letter-spacing: -1px;
  padding: 3rem 1rem 2rem 1rem;
  margin: 0;
  background-color: #160C40;
  color: white;
}

/* ------------------------------ SERVICES CARDS ------------------------------ */

.services-section {
  position: relative;
}

.service-block {
  width: 85%;
  height: auto;
  /* box-shadow: 0px 0px 3rem 0px #d3d3d3; */
  border: none;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 1em;
  padding: .5em;
}

#serv1 {
  background:
    linear-gradient(290deg, rgba(117, 117, 117, 0.1), rgba(0, 0, 0, 0.5)),
    url("/img/limpiezas-moreira-limpieza-interioress-stock-k5x5.jpeg");
  background-size: cover;
}

#serv2 {
  background:
    linear-gradient(290deg, rgba(117, 117, 117, 0.1), rgba(0, 0, 0, 0.5)),
    url("/img/limpiezas-moreira-limpieza-oficinas-stock-y6v1.jpeg");
  background-size: cover;
}

#serv3 {
  background:
    linear-gradient(290deg, rgba(117, 117, 117, 0.1), rgba(0, 0, 0, 0.5)),
    url("/img/limpiezas-moreira-limpieza-vidrios-r2d9.jpeg");
  background-size: cover;
}

#serv4 {
  background:
    linear-gradient(290deg, rgba(117, 117, 117, 0.1), rgba(0, 0, 0, 0.5)),
    url("/img/limpiezas-moreira-limpieza-exteriores-stock-r2d1.jpeg");
  background-size: cover;
}

#serv5 {
  background:
    linear-gradient(290deg, rgba(117, 117, 117, 0.1), rgba(0, 0, 0, 0.5)),
    url("/img/limpiezas-moreira-limpieza-exteriores-stock-r2d4.jpeg");
  background-size: cover;
}

#serv6 {
  background:
    linear-gradient(290deg, rgba(117, 117, 117, 0.1), rgba(0, 0, 0, 0.5)),
    url("/img/limpiezas-moreira-limpieza-obra-h9c2.jpeg");
  background-size: cover;
}

.card {
  height: 280px;
}

.card-body svg {
  width: 30%;
}

.card-body h4 {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  text-align:right;
  color: white;
}

.card-fig {
  position: absolute;
  width: 50%;
  top: -60px;
  left: -100px;
  z-index: 0;
  opacity: 70%;
}

.card-text {
  color: #211261;
  z-index:1;
}

.container-fig {
  position: absolute;
  width: 80%;
  bottom: -140px;
  right: -120px;
  z-index: 0;
}

.container-fig-bottom {
  position: absolute;
  width: 80%;
  bottom: -140px;
  left: -75px;
  z-index: 0;
}

/* ------------------------------ SERVICE MODAL ------------------------------ */

.modal-header {
  background-color: #211261;
}

.modal-body {
  position: relative;
  overflow: hidden;
}

.modal-body #modal-body-1 {
  height:280px;
}

.modal-body #modal-body-2,
.modal-body #modal-body-5,
.modal-body #modal-body-6 {
  height:260px;
}


.modal-body #modal-body-3,
.modal-body #modal-body-4 {
  height:280px;
}

.close {
  color: white;
}

#modal-body-1 .service-icon {
  position:absolute;
  top:70px;
  left:20px;
  transform: scale(1.5);
}

.service-icon {
  position:absolute;
  top:25px;
  left:20px;
  transform: scale(1.5);
}

.lista-servicios {
  padding: 0;
  margin: 0;
}

.lista-servicios li {
  text-decoration: none;
  list-style: none;
  text-align: right;
  font-weight: 600;
  line-height: 1.75;
  font-size:large;
}

.modal-footer {
  margin:0;
  padding:10px 0;
  display: flex;
  justify-content: center;
}

/* --------------------------------- CLIENTS SECTION --------------------------------- */

#contactanos-bot {
  background-color: #160C40;
}

#clientes-title {
  text-align: center;
  line-height: 1;
  letter-spacing: -1px;
  padding: 1rem;
  color: #211261;
}

.clients-section {
  position: relative;
  width:100%;
  height: 400px;
  padding: 1rem 0 .5rem 0;
}

.carousel-item {
  transform: scale(.5);
}

/* -------------------------------------- FOOTER -------------------------------------- */

#footer-col {
  background-color: #3DAE2B !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem 0;
}

#footer-col img {
  width: 50%;
}

#footer-col p {
  text-align: center;
  padding-bottom: 2rem;
  color: white;
  font-size: 1.2rem;
}

#contact-links {
  padding-bottom: 2rem;
}

#contact-links h3 {
  color:white;
  text-align: center;
  padding: 5px 0;
}

#social-media-icons {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  padding: 2rem 0;
}

#social-media-icons i {
  color: white;
}

#contact-links h3:hover,
#contact-links h3:active,
#social-media-icons i:hover,
#social-media-icons i:active {
  color: #211261;
  transition: 200ms ease-in;
}

#gomm-signature {
  width: 35%;
  padding-top: 1rem;
}


/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
/* -------------------------------------- TABLET -------------------------------------- */
/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */

@media screen and (min-width: 600px) {


  /* ------------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------------ */
  /* --------------------------------------- DESK --------------------------------------- */
  /* ------------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------------ */
}

@media screen and (min-width: 768px) {

  /* ------------ HEADER ------------ */
  #fig-header {
    position: absolute;
    width: 50%;
    overflow: hidden;
    top: -4em;
    right: -8em;
    z-index: 0;
  }

  #header h1 {
    padding-left: 1.5rem;
    letter-spacing: -2px;
    font-weight: 500;
    padding-top: 3em;
    width: 65%;
    line-height: 1;
  }

  /* ------------  ------------ */

  /* ------------  ------------ */

  /* ------------  ------------ */


}